@mixin button-states($background-color, $lighten : false) {
  $darken_1  : darken($background-color, 5%);
  $darken_2  : darken($background-color, 10%);
  $lighten_1 : lighten($background-color, 5%);
  $lighten_2 : lighten($background-color, 10%);

  transition:background-color 0.3s;
  background-color:$background-color;

  &:hover,
  &:focus {
    @if ($lighten) {
      background-color:$lighten_1;
  } @else {
      background-color:$darken_1;
    }
  }
  &:active {
    @if ($lighten) {
      background-color:$lighten_2;
    } @else {
      background-color:$darken_2;
    }
  }
}