body {
  color:$text-color-default;
  font-family:$font-family-default;
  font-weight:$font-weight-light;
  font-size:$font-size-default;
  min-width:$surface-min-width;
}

a {
  color:$text-color-link;
  text-decoration:underline;
  cursor:pointer;

  &:visited,
  &:hover,
  &:active {
    color:$text-color-link;
  }
}