/* For global scope only */

@mixin responsive-behaviors-common() {
  &-float {
    &-left {
      float:left;
    }
    &-right {
      float:right;
    }
  }
  &-text {
    &-left {
      text-align:left;
    }
    &-right {
      text-align:right;
    }
  }
  &-hide {
    display:none;
  }
}

@media #{$large-up} {
  .large {
    @include responsive-behaviors-common();
  }
}

@media #{$medium-only} {
  .medium {
    @include responsive-behaviors-common();
  }
}

@media #{$small-only} {
  .small {
    @include responsive-behaviors-common();
  }
}